name: CI

on:
    workflow_dispatch:
    push:
        branches:
            - main

            

jobs:
    test:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.11'
            
            - name: Install dependencies
              run: |
                    pip install -r requirements.txt

            - name: Adding Path
              run: |
                    echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV
            
            - name: Run tests
              run: |
                    pytest
              
            - name: Login to Docker Hub
              run: |
                    echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ vars.DOCKERHUB_USERNAME }}" --password-stdin


            - name: Build docker image
              run: |
                    docker build -t ${{ vars.DOCKERHUB_USERNAME }}/file-scan-service:${{ github.sha }} .
            - name: Push image
              run: |
                    docker push ${{ vars.DOCKERHUB_USERNAME }}/file-scan-service:${{ github.sha }}

    