name: CI

on:
    workflow_dispatch:
    push:
        branches:
            - main

            

jobs:
    test:
        runs-on: self-hosted
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.11'
            
            - name: Install dependencies
              run: |
                    pip install -r requirements.txt

            - name: Adding Path
              run: |
                    echo "PYTHONPATH=$(pwd)" >> $GITHUB_ENV
            
            - name: Run tests
              run: |
                    pytest
            
            
            - name: Build docker image
              run: |
                    docker build -t file-scan-service:latest .
        

    